
/*------------------------------------*\
    $b-progress  ELEMENTS
\*------------------------------------*/


/* $b-progress 
========================================================================== */

.b-progress
{
    .b-progress__title
    {
        font-weight: bold;

        margin-bottom: 20px;
    }

    .b-progress__container
    {
        margin-bottom: 5px;
    }

    .b-progress__cat
    {
        font-size: 15px;
        font-weight: bold;
        line-height: 1;

        margin: 0 0 5px 0;

        text-transform: uppercase;

        color: #000;

        .clearfix();
    }
}


/* Small devices (tablets, 768px and down)
========================================================================== */

@media (max-width: @screen-md-min)
{
    .b-progress
    {
        min-height: 260px;

        .b-progress__title
        {
            font-size: 22px;
        }

        .b-progress__no-title
        {
            padding-top: 0;
        }

        .b-progress__cat
        {
            font-size: 12px;
        }

        .progress
        {
            height: 10px;
        }
    }

    .misc-part-2
    {
        float: right;

        min-height: 0;

        .b-progress
        {
            min-height: 0;
        }
    }
}


/* Small devices (tablets, 768px and up)
========================================================================== */

@media (min-width: @screen-md-min)
{
    .b-progress
    {
        min-height: 334px;

        .b-progress__no-title
        {
            padding-top: 66px;
        }
    }
}




