
/*------------------------------------*\
    $b-section ELEMENTS
\*------------------------------------*/

/**
 * $b-section
 */


/* $b-section
========================================================================== */

.b-section {
	margin-bottom:0px;
  padding-top:120px;

}

/* $b-section--no-padding-top ( Modifier )
================================================= */

.b-section--no-padding-top {
	padding-top:0px;		
}	


/* $b-section--large-padding ( Modifier )
================================================= */

.b-section.b-section--large  {
	padding:50px 0;	
}	


/* $b-section--no-margin-bottom ( Modifier )
================================================= */

.b-section.b-section--no-margin-bottom {
	margin-bottom:0px;		
}	


/* $b-section--margin-bottom ( Modifier )
================================================= */

.b-section.b-section--margin-bottom {
	margin-bottom:120px;		
}	



/* $b-section.b-section--light ( Modifier )
================================================= */

.b-section.b-section--light {
	background-color:@color-bg-light;		
}		


/* $.b-section.b-section--dark ( Modifier )
================================================= */

.b-section.b-section--dark {
	background-color:@color-bg-dark;
	color:@white;		
}	


/* $.b-section.b-section--message ( Modifier )
================================================= */

.b-section.b-section--message {
	background-color:@color-bg-headline;		
}	









