
/*------------------------------------*\
    $footer ELEMENTS (layout)
\*------------------------------------*/


/* $footer
========================================================================== */

#l-footer {
	padding:25px 0;

	#copyright {
    line-height:28px;
  }


} /* #footer END */

/* Small devices (tablets, 768px and down)
================================================= */

@media (max-width: @screen-sm-min) {

	#copyright {
	  float:none!important;

    text-align:center;

		#copyright-year,
		#copyright-text { display:block; }

  }

}
